/*===================================================================================
------------------------------------Variables----------------------------------
===================================================================================*/

// Break Points
$bp-mobile: 1250px;

//Colors
//Main colors
$clr-primary: hsl(300, 43%, 22%);
$clr-secondary: hsl(333, 80%, 67%);

//Neutral
$clr-n-dark: hsl(303, 10%, 53%);
$clr-n-light: hsl(300, 24%, 96%);
$clr-n-white: hsl(0, 0%, 100%);

//Type
$font-base: "Spartan", sans-serif;
